<div class="mdc-layout-grid center">
    <div class="mdc-layout-grid__inner">

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <span class="mdc-typography--headline4">Panel administracyjny</span>
        </div>


        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 card">
            <div class="mdc-typography--headline5" style="text-align: center;">Dodaj zadanie</div>

            <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                <input type="text" id="problemName" class="mdc-text-field__input" ng-model="problemName">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="problemName" class="mdc-floating-label">Nazwa zadania</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="mdc-text-field mdc-text-field--textarea mdc-text-field--fullwidth"
                data-mdc-auto-init="MDCTextField">
                <textarea class="mdc-text-field__input" rows="1" cols="1"
                    oninput="this.style.height='';this.style.height = this.scrollHeight + 'px'" onchange="this.focus();"
                    ng-model="content"></textarea>
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="textarea" class="mdc-floating-label">Treść zadania (jako html)</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="mdc-typography--body1">Środowisko wykonania:</div>

            <div class="mdc-form-field" data-mdc-auto-init="MDCFormField">
                <div class="mdc-radio" data-mdc-auto-init="MDCRadio"
                    ng-repeat-start="checkEnv in checkEnvs track by $index">
                    <input class="mdc-radio__native-control" type="radio" id="radio-{{$index}}" name="radios"
                        ng-checked="$first" ng-model="currentCheckEnv.name" ng-click="cl(currentCheckEnv.name)" ng-value="checkEnv.name">
                    <div class="mdc-radio__background">
                        <div class="mdc-radio__outer-circle"></div>
                        <div class="mdc-radio__inner-circle"></div>
                    </div>
                </div>
                <label for="radio-{{$index}}" ng-repeat-end>{{checkEnv.name}}</label>
            </div>

            <div class="mdc-text-field mdc-text-field--textarea mdc-text-field--fullwidth"
                data-mdc-auto-init="MDCTextField">
                <textarea class="mdc-text-field__input" rows="1" cols="1"
                    oninput="this.style.height='';this.style.height = this.scrollHeight + 'px'" onchange="this.focus();"
                    ng-model="checkerCode"></textarea>
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="textarea" class="mdc-floating-label">Kod źródłowy sprawdzarki (opcjonalne)</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field-helper-line">
                <div class="mdc-text-field-helper-text">Sprawdzarka jest programem, który przyjmuje na standardowe
                    wejście
                    <pre class="inline-pre">input zadania</pre>,
                    <pre class="inline-pre">output użytkownika</pre> oraz
                    <pre class="inline-pre">wzorcowy output</pre> i wypisuje
                    <pre class="inline-pre">OK</pre>, jeśli zadanie zostało
                    rozwiązane poprawnie</div>
            </div>

            <span class="end">
                <button ng-click="addProblem()" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">Dodaj </span>
                </button>
            </span>
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 card">
            <div class="mdc-typography--headline5" style="text-align: center;">Dodaj test do zadania</div>

            <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                <input type="text" id="nameB" class="mdc-text-field__input" ng-model="nameB">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="nameB" class="mdc-floating-label">Nazwa zadania</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <span class="end">
                <input id="file" style="display: none;" type="file">
                <label for="file" class="mdc-button" data-mdc-auto-init="MDCRipple">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">Wybierz plik</span>
                </label>

                <button ng-click="addTest()" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">Dodaj </span>
                </button>
            </span>
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 card">
            <div class="mdc-typography--headline5" style="text-align: center;">Wszystkie zgłoszenia</div>
            <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                <input type="text" id="user" class="mdc-text-field__input" ng-model="searchKeyword">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="user" class="mdc-floating-label">Wyszukaj</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field-helper-line">
                <div class="mdc-text-field-helper-text">Możesz szukać po nazwie użytkownika, nazwie zadania, fragmencie
                    kodu lub rezultacie wykonania
                    (OK/BAD/WAITING).</div>
            </div>

        </div>


        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 card"
            ng-repeat="solution in solutions | filter:comparator track by $index">
            <span class="mdc-typography--caption">
                {{toLocaleString(solution.time)}}<br>
                <div>
                    <span ng-style="
                solution.result == 'OK' ? {color:'rgb(76,175,80)'} :
                    (solution.result == 'WAITING' ? {color: 'rgb(255,152,0)'} : {color:'rgb(244,67,54)'})
                " ng-bind="
                solution.result == 'OK' ? 'Zaakceptowano' :
                    (solution.result == 'WAITING' ? 'Oczekiwanie' : solution.result)
                ">{{solution.result}}</span><br>
                    <span>Problem: {{solution.problem}}</span><br>
                    <span>Autor: {{solution.problem}}</span><br>
                    <span>Język: {{solution.lang}}</span>
                </div>
            </span>
            <code>{{solution.code}}</code>
        </div>
    </div>
</div>