<div class="mdc-layout-grid center">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <span class="mdc-typography--headline4">Konto</span>
        </div>
        <form class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 card" ng-submit="login(username, password)">
            <div class="mdc-typography--headline5" style="text-align: center;">Logowanie</div>


            <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                <input type="text" id="user" class="mdc-text-field__input" ng-model="username">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="user" class="mdc-floating-label">Nazwa użytkownika</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                <input id="pass" class="mdc-text-field__input" type="password" ng-model="password">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="pass" class="mdc-floating-label">Hasło</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="mdc-typography--body1">Pamiętaj o bezpieczeństwie swojego hasła.</div>
            <span class="end">
                <button type="button" ng-click="register(username, password)" class="mdc-button"
                    data-mdc-auto-init="MDCRipple">
                    <span class="mdc-button__label">Utwórz konto</span>
                </button>
                <button action="submit" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple">
                    <span class="mdc-button__label">Zaloguj </span>
                </button>
            </span>
        </form>

        <div ng-if="currentUser" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 card">
            <div class="mdc-typography--headline5" style="text-align: center;">Moje konto</div>

            <div class="mdc-typography--headline6">
                Zalogowano jako: {{currentUser}}
            </div>

            <span class="end">
                <button ng-click="logout()" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple">
                    <span class="mdc-button__label">Wyloguj </span>
                </button>
            </span>
        </div>
    </div>
</div>